{% extends 'base.html' %}
{% load static %}
{% load properties_extras %}
{% load i18n %}

{% block title %} Spain Properties {% endblock %}


{% block content %}
<section class="above-the-fold">
    <h1 class="above-the-fold__heading">ESPAÑA</h1>
</section>
<section class="booking-form container">
    {% include 'booking/fast-booking-form.html' %}
</section>
<section class="highlight-destinations container">
    <h2 class="highlight-destination__heading">Nuestros Destinos</h2>
    <div class="highlight-destinations__cards row">
        {% for city in cities %}
        <div class="highlight-destinations__card--card col-sm-4">
            <img class="highlight-destinations__card--image" src="{{ city.photo.url }}" alt="{{ city.name }}">
            <h3 class="highlight-destinations__card--name">{{ city.name }}</h3>
        </div>
        {% endfor %}
    </div>
</section>
<section class="highlight-properties container-fluid">
    <div class="highlight-properties__wrapper container">
        <h2 class="highlight-properties__heading">Nuestras Destacadas</h2>
        <div class="highlight-properties__cards row">
            {% for property in properties %}
            <div class="col-sm-4 highlight-properties__card">
                <div class="highlight-properties__card-header">
                    <h3 class="highlight-properties__card-name">{{ property.name }}</h3>
                    <p class="highlight-properties__card-location">{{ property.address }}</p>
                </div>
                <div class="highlight-properties__card-gallery">
                    {% for photo in property.get_photos %}
                        <img src="{{ photo.photo.url }}" alt="{{ photo.id }}">
                    {% endfor %}
                </div>
                <div class="highlight-properties__footer row">
                    <div class="highlight-properties__capability col-sm-6">
                        <span
                            class="highlight-properties__capability-icon highlight-properties__capability-icon--people">
                            {{property.people_capacity }}
                        </span>
                        <span class="highlight-properties__capability-icon highlight-properties__capability-icon--beds">
                            {{property.bed_capacity }}
                        </span>
                    </div>
                    <p class="highlight-properties__price col-sm-6 text-right">
                        US$ {{property.price_by_night|floatformat:"0" }} / noche
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="why-spain container">
    <h2 class="why-spain__heading">¿Por Que España?</h2>
    <div class="why-spain__content row">
        <div class="col-sm-6">
            <p>Ubicada en el corazón de la Península Ibérica, España es un destino cautivador por su cultura, su
                gastronomía y por la historia que cuentan sus calles, pueblos y ciudades. Aquí se fusiona la
                arquitectura colonial y moderna creando una vibrante atmósfera urbana que siempre tiene una historia por
                contar.
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                Déjate llevar por su animada cultura, desde enérgicas interpretaciones de flamenco hasta festivales, y
                disfruta de la exquisita variedad de sabores de su gastronomía mientras te rodeas de pintorescos
                mercados locales y acogedores cafés. <br><br>

                Aquí la modernidad y la tradición convergen para crear una experiencia de viaje única. Un destino donde
                cada paso es un viaje a través del tiempo.k
            </p>
        </div>
    </div>
</section>
<section class="long-bookings container-fluid text-center">
    <h2 class="long-bookings__heading">{% translate 'long term rentals' %} </h2>
    <p class="long-bookings__text">">{% translate 'ask for our special rates for extended stays!' %}</p>
    <a class="long-bookings__button btn btn-primary"> {% translate 'contact us' %}</a>
</section>
{% endblock content %}

{% include 'footer.html' %}
```